.app {
  background-color: rgb(26, 41, 41);
  width: 40%;
  height: 100vh;
  margin: 0 auto;
}
.logo {
  /* width: 10vmax; */
  text-align: center;
  margin-bottom: 1rem;
}
.logo img {
  width: 10vmax;
}
.logo h2 {
  color: aqua;
}
